services:
  db:
    image: mysql:8.0
    container_name: demo-mysql
    environment:
      MYSQL_ROOT_PASSWORD: rootsecret
      MYSQL_DATABASE: appdb
      MYSQL_USER: appuser
      MYSQL_PASSWORD: secret
    ports:
      - "3306:3306"
    volumes:
      - dbdata:/var/lib/mysql
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "appuser", "-psecret"]
      timeout: 20s
      retries: 10
      interval: 10s
      start_period: 40s
    networks:
      - app-network
  rabbitmq:
    image: rabbitmq:3.13-management # Dùng bản có giao diện quản lý
    container_name: demo-rabbitmq
    ports:
      - "5672:5672"   # Cổng 5672 cho ứng dụng kết nối
      - "15672:15672"  # Cổng 15672 cho giao diện Web (http://localhost:15672)
    networks:
      - app-network
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "check_port_connectivity"]
      interval: 10s
      timeout: 5s
      retries: 5
  app:
    build: .
    container_name: demo-app
    ports:
      - "8083:8080"
    depends_on:
      db:
        condition: service_healthy
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
    networks:
      - app-network
    restart: unless-stopped

  adminer:
    image: adminer
    container_name: demo-adminer
    ports:
      - "8082:8080"
    depends_on:
      - db
    networks:
      - app-network
    restart: unless-stopped

volumes:
  dbdata:

networks:
  app-network:
    driver: bridge